$orange: #f5a24d;
$red: #DC143C;
$green: #3CB371;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
  background-color: $orange;
  color: black;
  @include margenes (50px, 10px);
}

footer {
  padding: 10px 16px 0 10px;
  background-color: $orange;
  @include margenes (10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  @include margenes (10px, 0px)
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}